.custom__featured {
    background: url("../../../../public/home/featured.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;

}